* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, Helvetica, sans-serif;
    color: #58585B;
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;


    -webkit-overflow-scrolling: touch;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

a:active {
    outline: none;
}

ul, li {
}

img.mega-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.hero-content {
    position: relative;
    background-image: url(splash-cropped-bigger.jpg);
    background-position: 0 0;
    background-size: cover;

    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.nav-items {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    line-height: 60px;
    list-style: none;
}

.nav-items li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    height: 30px;
}
.nav-items a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #808080;
    text-transform: uppercase;
    display: block;
}
.nav-items a.pill {
    display: inline;
    padding: 10px 25px;
    border: 2px solid #808080;
    border-radius: 500px;
}

.nav-items.social {
    float: left;
    padding-right: 15px;
}

.nav-items.social li {
    padding: 8px;
    margin-left: 10px;
    background-color: #E6E7E8;
    border-radius: 50%;
}

.nav-items.social li span {
    font-size: 14px;
}
