* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, Helvetica, sans-serif;
    color: #58585B;
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;


    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: underline;
    outline: none;
    color: #58585B;
}


.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(splash-cropped-bigger.jpg);
    background-position: 0 0;
    background-size: cover;
    text-align: center;
}
.yarn-logo {
    display: block;
    width: 250px;
    margin: 50px auto 20px;

}
.message {
    text-align: center;
    width: 550px;
    max-width: 90%;
    margin: 0 auto 0;
}
h1,
p {
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 20px;
}
.footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.nav-items {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 30px;
    list-style: none;

}

.nav-items li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    height: 30px;
}
.nav-items a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #808080;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}
.nav-items a.pill {
    display: inline;
    padding: 10px 25px;
    border: 2px solid #808080;
    border-radius: 500px;
}

.nav-items.social {
    padding-right: 15px;
}

.nav-items.social li {
    padding: 8px;
    margin-left: 10px;
    background-color: #E6E7E8;
    border-radius: 50%;
}

.nav-items.social li span {
    font-size: 14px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .yarn-logo {
        width: 80px;
        margin: 30px auto 20px;
    }
    h1,
    p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}
